body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #FFF000;
}

.quem-somos{
    background-color: rgb(255, 174, 0);
    color: white;
}

.margin{
    padding-bottom: 40px;
    padding-top: 10px;
}

.marcas{
    background-color: yellow;
}

.parceiros{
    background-color: rgb(255, 174, 0);
}

.bg-footer{
    background-color: black;
    color: white;
}